//=== Login form ==/
#login,
#register {
    text-align: left;
    margin: 0 auto;
}
#login h2,
#register h2 {
    margin: 4em 0 1em 0;
    text-align: center;
    font-size: 160%;
}
#login {
    .social-login {
        text-align: center;
        margin-bottom: 3em;
        li {
            margin: 0 20px;
            display: inline;
        }
        li.browserid {
            display: block;
            margin-bottom: 20px;
        }
    }
    form.openid {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 10px;
    }
    a.persona-button:hover {
        color: #fff;
    }
}


//=== User profile page ==/
.user-profile {
    h1 {
        margin-bottom: 1em;
    }
    h3 {
        margin-top: 2em;
    }

    div.gravatar {
        font-size: 95%;
        img {
            @include square(150px);
        }
    }

    .tab-pane {
        padding-top: 1em;
    }

    .ajaxloader {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
    }

    tr.list-address {
        font-weight: bold;
        background: $rowBorderColor;
    }
}

table.user-data {
    font-size: 95%;
    th {
        font-weight: bold;
        padding-left: 0 !important; // override boostrap default
    }
    tr.gravatar td {
        vertical-align: middle;
    }
}


/*
// for tiny viewports (<=380px), adjust table column widths
@media (max-width: $screen-tn-max) {
    .user-profile table.user-data {
        .ellipsis-overflow {
            max-width: 150px;
        }
        select {
            width: 150px;
        }
    }
}
*/
